a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  color: inherit;
}

.active {
  color: #fc036b;
  text-decoration: underline;
  font-weight: bold;
}

/* Header */
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
  text-transform: capitalize;
}

.line {
  width: 150px;
  height: 4px;
  background-color: crimson;
  border-radius: 5px;
  margin: 10px auto;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.ctn {
  padding: 8px 15px;
  background-color: #fc036b;
  border-radius: 30px;
  color: whitesmoke;
  text-transform: capitalize;
}

.menu-btn {
  display: none;
}

section {
  width: 80%;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
}

.title h1 {
  text-transform: capitalize;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events .row {
  margin-top: 50px;
}

.events .col h2 {
  font-size: 3vmin;
  color: #484872;
  margin: 20px auto;
  text-transform: capitalize;
}

p {
  color: #7c7c7c;
  padding: 0px 40px;
}

.events .ctn {
  margin-top: 30px;
}

.explore {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.explore-content {
  width: 60%;
  padding: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.explore-content h1 {
  font-size: 7vmin;
}

.explore-content .line {
  margin-bottom: 50px;
}

.explore-content p {
  color: rgb(221, 221, 221);
}

.content-col {
  width: 40%;
}

.image-col {
  width: 60%;
}

.explore-content .ctn {
  margin-top: 40px;
}

.tours .image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.image-gallery img {
  max-width: 300px;
  margin: 10px;
}

.content-col h1 {
  margin: 10px;
  font-size: 7vmin;
  color: #484872;
}

.content-col .line {
  margin-left: -1px;
}

.content-col p {
  padding: 0;
  margin: 30px auto;
}

.content-col .ctn {
  margin-left: -100px;
}

.footer {
  width: 100%;
  min-height: 100px;
  padding: 20px 30px;
  margin: 0;
  background-color: #484872;
  text-align: center;
}

.footer p {
  color: whitesmoke;
  margin: 20px auto;
  padding: 20px auto;
}

@media only screen and (max-width: 850px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
  }

  .navbar {
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #484872;
    margin-top: -900px;
    transition: all 0.5s ease;
  }

  .mobile-menu {
    margin-top: 0;
    border-bottom-right-radius: 30%;
  }

  .nav-links li {
    margin: 30px auto;
  }

  /* Events */
  .row {
    flex-direction: column;
  }

  .col img {
    max-width: 90%;
  }

  .row .col {
    margin: 20px auto;
  }

  /* Explore */
  .explore-content {
    width: 100%;
  }

  .tours .col {
    width: 100%;
  }

  .image-gallery {
    justify-content: center;
    align-items: center;
  }

  .image-gallery img {
    width: 90%;
  }

  .footer {
    padding: 10px;
  }
}

/* Animations */

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.ctn:hover {
  background-color: whitesmoke;
  color: #fc036b;
  box-shadow: 2px 2px 5px #00000056;
}

li:hover {
  color: #fc036b;
  cursor: pointer;
}

/*
 https://www.youtube.com/watch?v=ZdJSHEczi_0 
*/
